.l-container{
    width: $max-width;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
}

@media screen and (min-width: 960px) {
    .l-container{
          width: $max-width ;
    }
}